.headerWrapper{
    position: sticky;
    top: 0;
    left: 0;
}
.headerContents ul{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    padding: 7px 4px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
}
.header-link_list{
    list-style: none;
}
.header-link{
    text-decoration: none;
    margin: 0 5px;
    background-color: #ffa600;
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: #222222;
}
#header-link_contact{
    background-color: #fff;
}
#header-link_contact:hover{
    background-color: #ffa600;
    transition: all 0.3s;
}
#header-link_sign:hover{
    background-color: #fff;
    transition: all 0.3s;
}
.menu{
    display: none !important;
    width: 35px !important;
    height: 35px !important;
    color: #ffa600 !important;
}
@media (max-width: 768px) {
    .headerContents ul{
        margin-left: 0;
    }
}
@media (max-width: 480px) {
    .headerContents ul{
        justify-content: space-evenly;
    }
    .menu{
        display: block !important;
    }
}
@media (max-width: 230px) {
    .headerContents ul{
        margin-left: 0px;
    }
}
