.App{
    background-color: #d4d5d5;
    min-height: fit-content;
    padding: 10px;
    margin: 0 auto
}
.routerSidebar-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}