.App{
    background-color: #d4d5d5;
    min-height: fit-content;
    height: calc(100vh);
    padding: 10px;
}
.routerSidebar-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}